.SearchDiv {
  display: flex;
  flex-direction: column;
  border: 1px solid lightgrey;
  padding: 10px;
  margin: 10px;
}

.imageList {
  columns: 250px 5;
  column-gap: 10px;
}
.ImageListImg {
  width: 100%;
  margin-bottom: 10px;
}
